<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>TITLE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<style>
.back{
 background-image: url("{{ url_for('static', filename='image/ca1.jpg') }}");
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
}
.white{
color:white;
}
.nspace{
margin:15px 15px 30px 30px;
background: white;
padding:7px 10px;

width:500px
}
.space{
margin:10px 30px;
padding:10px 10px;
background: white;
width:500px
}
.gap{
padding:10px 20px;
}
</style>
  
</head>

<body >
 <div>
	<div class="jumbotron">
	<h1 style="text-align:center">CYBER ATTACK AND PERPETRATOR PREDICTION</h1>
	
	</div>`
<div class="back">
     <!-- Main Input For Receiving Query to our ML -->
    <form class="form-group" action="{{ url_for('predict')}}"method="post">
    		
		<div class="row">
		<div class="gap col-md-6 ">


<label class="white"  for="">CRIME</label>
<select class="nspace form-control" name="CRIME" id="CRIME">
  <option value=0>Hacking into the Information System and Capturing Data</option>
  <option value=1>Misuse of Debit Cards or Credit Cards</option>
  <option value=2>Through Informatics Theft</option>
</select>


<label class="white"  for="">GENDER</label>
<select class="nspace form-control" name="GENDER" id="GENDER">
  <option value=0>Female</option>
  <option value=1>Male</option>
</select>


<label class="white"  for="">AGE</label>
<select class="nspace form-control" name="AGE" id="AGE">
  <option value=0>27 and Under</option>
  <option value=1>51 and Above</option>
  <option value=2>Between 28 and 37</option>
  <option value=3>Between 38 and 50</option>
</select>


<label class="white"  for="">INCOME</label>
<select class="nspace form-control" name="INCOME" id="INCOME">
  <option value=0>High</option>
  <option value=1>Low</option>
  <option value=2>Middle</option>
</select>


<label class="white"  for="">JOB</label>
<select class="nspace form-control" name="JOB" id="JOB">
  <option value=0>Education</option>
  <option value=1>Finance Sector</option>
  <option value=2>Health Sector Manager</option>
  <option value=3>Housewife</option>
  <option value=4>IT Sector</option>
  <option value=5>Justice And Security</option>
  <option value=3>Others</option>
  <option value=4>Retired</option>
  <option value=5>Student</option>
  <option value=5>Technical</option>
</select>



		</div>

<div class="gap col-md-6">

<label class="white"  for="">MARITAL STATUS</label>
<select class="nspace form-control" name="MARITAL STATUS" id="MARITAL STATUS">
  <option value=0>Married</option>
  <option value=1>Single</option>
</select>


<label class="white"  for="">EDUCATION</label>
<select class="nspace form-control" name="EDUCATION" id="EDUCATION">
  <option value=0>Graduate</option>
  <option value=1>High School</option>
  <option value=2>Primary Education</option>
  <option value=3>Under Graduate</option>
</select>


<label class="white"  for="">HARM</label>
<select class="nspace form-control" name="HARM" id="HARM">
  <option value=0>Do Moral Harm</option>
  <option value=1>Fraud</option>
  <option value=2>Internet Shopping Out of Knowledge</option>
  <option value=3>Internet Shopping by Intoducing Himself as a Bank Clerk</option>
  <option value=4>Threating / Blackmailing</option>
  <option value=5>Withdrawals Without Knowledge</option>
  <option value=6>Withdrawing Money by Introducing Himself as a Bank Clerk</option>
</select>


<label class="white"  for="">ATTACK</label>
<select class="nspace form-control" name="ATTACK" id="ATTACK">
  <option value=0>Copying Bank / ATM Cards</option>
  <option value=1>Hacking Social Media Accounts</option>
  <option value=2>Obtaining Electronic Bank Accounts</option>
  <option value=3>Obtaining and Using Data in Digital Environment</option>
  <option value=4>Selling Counterfeit Products</option>
</select>
	
</div>
</div>

<div style="padding:2% 35%">
  <button type="submit" class="btn btn-success btn-block" style="width:350px;padding:20px">Predict</button>		
</div>
      
    </form>
</div>
   <br>
   <br>

<div  style="background:skyblue;padding:2% 10%">
   <h6><span>{{ prediction_text1 }}</span>
   <span style="float:right">{{ prediction_text2 }}</span></h6>
</div>

 </div>


</body>
</html>
